body {
    background-color: beige;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    border-bottom: 3px solid black;
    padding: 10px;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
    opacity: 0.7;
    padding-left: 100px;
}

.header-image-container {
    display: flex;
    align-items: center;
}

.header-image {
    width: 150px;
    height: auto;
    opacity: 0.7;
    padding-right: 100px;
}

nav {
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    text-align: left;
    padding-left: 50px;
    border-right: 3px solid black;
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-us {
    flex-wrap: wrap;
    width: 95%;
    font-size: 23px;
    padding-left: 10px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 25px;
}

nav ul li {
    margin-bottom: 10px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
}

.content-wrapper {
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: lightblue;
    padding: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.contact-section {
    text-align: center;
}

.contact-section h2 {
    font-size: 25px;
}

.contact-section ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

@media screen and (max-width: 750px) {
  .content-wrapper{
    flex-direction: column;
  }  
}