
body{
    background-color: gray;
}



body   h1{
text-align: center;

/* choose color you want */
border: 1px black solid;

/* choose color you want */
background-color: red;  

}

/* box between home box and reosurce box  */

.bigbox{
    display: flex;
    
  
    
}

.boxtext p{
 background-color: yellow;
 border: 1px black solid;
 margin-top: 1px;
 margin-left: 100px;
 padding: 5px 20px;
 font-size: 16px;
 font-weight: normal;
 margin-right: 20px;
 width: 500px;

}

/* box resouce edit */
.boxresource{
    background-color: aquamarine;
    border: 1px black solid;
    width: 190px;
}

.boxresource h2{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px black solid;
}

.boxresource ul{
    padding: 5px 20px 5px 20px;
}

 /* edit color link */
a{
    text-decoration: none;
    color :black
}

a:hover{
    color: red;
}

a:active{
    color:yellow
}
/* end of box resource edit */

/* edit future box  */
.boxfuture{
    background-color: blueviolet ;
    border: 1px black solid;
    width: 190px;
    margin-top: 20px;
}
.future{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px black solid;
}

.contact{
    padding-left: 20px;
    
}

/* end edit future box  */

.job p{
    background-color: yellow;
    border: 2px black solid;
    margin: auto;
    font-size: 16px;
    font-weight: normal;
    width: 800px;
}


