body {
    background-color: beige;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    padding: 10px;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
    opacity: 0.7;
}

.header-image-container {
    display: flex;
    align-items: center;
}

.header-image {
    width: 150px;
    height: auto;
}

nav {
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    text-align: left;
    padding-left: 50px;
}

.about-us {
    flex-wrap: wrap;
    width: 75%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
}

.content-wrapper {
    display: flex;
}
